name: test-ls-actions
run-name: ${{ github.actor }} LS-NEXT test
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3
        id: npm-cache # use this to check for `cache-hit` ==> if: steps.npm-cache.outputs.cache-hit != 'true'
        with:
          path: "node_modules"
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
      - run: npm install
      - run: npm run build

  test:
    runs-on: ubuntu-latest
    steps:
      - run: npm run e2e:headless
      - run: ls
      - uses: actions/upload-artifact@v3
        with:
          name: e2e-video
          path: cypress\videos\
